.content {
  padding: 40px;
  .contentTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
      display: flex;
      align-items: center;
      box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
      border-radius: 20px;
      padding: 0 15px;
      input {
        padding: 10px;
        font-size: 16px;
        width: 200px;

        &:focus::placeholder {
          transition: opacity .4s ease-in;
          opacity: 0;
        }
      }
    }
  }
  .sneakers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 53px;
  }
}